.Hello-sign{
    font-size:12px;
     color:#CCCCCC;
     margin-left: 30px;
}
.Account-List{
    position: relative;
    margin-left: 30px;
    font-size: 14px;
    top:-5px;
}

/* .Signup-container{
    position: relative !important;
    width: 100% !important;
    height:550px;
    background-color: #ffc107 !important;
    z-index: 100;
} */
.Signup{
    position: absolute;
    width:560px;
    background-color:white;
    color:black;
    right: 67px;
    z-index: 5;
}
.sign-BiSolidUpArrow{
margin-top: -14px;
    float:right;
    margin-right: 123px;
    font-size: 18px;
}
.signin-button{
    width: 200px;
    text-align: center;
    padding: 8px;
border-radius: 12px;
background-color: #ffc107;
color:black;

font-size: 13px;

}
.vertical-line{
    border-left: 1px solid silver;

}
.Your-Account{
    width:180px;
    margin-bottom: 5px;
}
.signIn-Links-Items{
    font-size: 13px;
    padding-bottom: 7px;
}
/*signupcss*/

