
.amazonLogo{
    width:140px;
    height:100px;
    
    position: relative;
    top:-32px;
    left:-18px;
    
}
.Delivering{
    font-size:12px;
     color:#CCCCCC;

position: relative;
bottom: 0px;
}
.UpdateLocatioin{
    font-size: 15px;
    margin-left: -25px;
    position: relative;
    top: -4px;
}
.right-container{
    width:380px;
}
.right-container-item{
    padding: 14px 8px 0px 20px;

}
.header-All-nav-items>div{
font-size: 15px;

}
